{% extends 'baseIndexHome.html.twig' %}

{% block body %}

<!-- Page Content -->
  <div class="container">

    <div class="row mb-3">
      <div class="col-md-12 mb-12">
        <div class="card h-100">
          
          <div class="card-body">
            <h6 class="card-title fundobarbo p-2">Sobre Nós</h6>
            <p class="card-text">
             <div class="row">
                <div class="col-md-4 mb-2">
                    <img src="{{ asset('img/Engineering.jpg')}}" class="img-fluid rounded float-left" alt="...">
                </div>
                <div class="col-md-8 mb-10">
                    Fundada em 1981, a BARBO vem desenvolvendo há mais de 30 anos soluções de engenharia de alto valor agregado para empreendimentos industriais, comerciais e residenciais. 
                    A BARBO realiza serviços de consultoria especializada, projetos de instalações prediais, gerenciamento de obras de instalações, atendimento a lojistas em obras de shopping, dentre outros.
                    A BARBO consiste em um Time de Profissionais, estruturado com base no conhecimento, inovando e tendo a busca da excelência como conceito guia, com isto empreendendo e provendo soluções técnicas que criam valor para nossos clientes e os envolvidos, proporcionando condições de realização profissional e humana de nossos colaboradores, e assim, contribuindo para o processo de desenvolvimento da sociedade e o meio ambiente. 
                </div>
            </div>
            </p>
          </div>          
        </div>
        
      </div>
      
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-8 mb-5">
        <div class="card h-100">          
          <div class="card-body">
            <h6 class="card-title fundobarbo p-2">Nossa Visão</h6>
            <p class="card-text">
            <div class="row">                
                <div class="col-md-8 mb-10">
                    Consolidar o sucesso da BARBO como a principal alternativa ao mercado de projetos de instalações prediais, 
                    consultoria e gerencia de obras de intalações, objetivando ampliar a nossa participação e estreitar o relacionamento 
                    com os clientes, mantendo o comprometimento com o desenvolvimento social sustentável.
                </div>
                <div class="col-md-4 mb-2">
                    <img src="{{ asset('img/tempo3.jpg')}}" class="img-fluid rounded float-left" alt="...">
                </div>
            </div>
            
            </p>
          </div>          
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">          
          <div class="card-body">
            <h6 class="card-title fundobarbo p-2">Contatos</h6>
            <p class="card-text">
            <div class="row mb-2">                
                <div class="col-md-2 mb-2 my-auto">
                  <i class="fas fa-home"></i>
                </div>   
                <div class="col-md-10 mb-10 textocontato">
                   Av. Nelson Cardoso, 596 Sl. 404/405 - Jacarepaguá - Rio de Janeiro - RJ - CEP 22730-000
                </div>              
            </div>
            <div class="row mb-2">                
                <div class="col-md-2 mb-2 my-auto">
                  <i class="fas fa-phone"></i>
                </div>   
                <div class="col-md-10 mb-10 textocontato">
                   55 (21) 3495-4968
                </div>                 
            </div>
            <div class="row mb-2">                
               <div class="col-md-2 mb-2 my-auto">
                  <i class="fas fa-mail-bulk"></i>
                </div>   
                <div class="col-md-10 mb-10 textocontato">
                   barbo@barboengenharia.com.br
                </div>                   
            </div>
            
            </p>
          </div>          
        </div>
      </div>      
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
